#diceCube{
  position:relative!important;
  inset:auto!important;
  margin:0 auto;
  width:96px;
  height:96px;
}

.diceCard{
  min-height:160px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.sidebar{
  width:360px;
}
